<style type="text/css">
 	table, th, td {
	 	margin-left: 24px;
		width: auto;
		background-color: white;
	    border: 1px solid black;
	    border-collapse: collapse;

	} table th, td {
		text-align: left;
	    padding: 6px 12px;
	} table td a {
		padding: 6px;

	}

</style>
<h1><a href="blogs/index.html">My Most Recent Blogs</a></h1>
<table id="tableMyRecentBlogs">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Comment Count</th>
      <th>Unread Comments</th>
      <th colspan="3">options</th>
    </tr>
  </thead>

  <tbody>
	<% if @myRecentBlogs.count > 0 %>
		<% @myRecentBlogs.each do |blog| %>
	      <tr>
	        <td><%= blog.title %></td>
	        <td><%= blog.body %></td>
	        <td>0</td>
	        <td>zero</td>
	        <td><%= link_to 'Show', blog %></td>
	        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
	        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	<%else%>
		<tr>
			<td colspan="7">no blogs</td>
		</tr>
	<% end %>
  </tbody>
</table>
<h1><a href="blogs/index.html">My Unasnwered Questions</a></h1>
<table id="tableMyA">
  <thead>
    <tr>
      <th>Question</th>
      <th>Tile Elapsed</th>
      <th>Action</th>
      <th colspan="3">options</th>
    </tr>
  </thead>

  <tbody>
	<% if @myUnasnweredQuestions.count > 0 %>
		<% @myUnasnweredQuestions.each do |question| %>
	      <tr>
	        <td><%= question.title %></td>
	        <td><%= question.body %></td>
	        <td>0</td>
	        <td>zero</td>
	        <td><%= link_to 'Show', question %></td>
	        <td><%= link_to 'Edit', edit_faq_path(question) %></td>
	        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	<%else%>
		<tr>
			<td colspan="7">all questions answered</td>
		</tr>
	<% end %>
  </tbody>
</table>

