<style type="text/css">
	body {
		background-image: url( "texture-blueprint");
	    background-repeat: repeat;
	    background-position: left top;

	}

</style>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a href="blogs/index.html">My Most Recent Blogs</a></h3>
	</div>
	<table id="tableMyRecentBlogs" class="table table-stripped">
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Body</th>
	      <th>Comment Count</th>
	      <th>Unread Comments</th>
	      <th colspan="3">options</th>
	    </tr>
	  </thead>

	  <tbody>
		<% if @myRecentBlogs.count > 0 %>
			<% @myRecentBlogs.each do |blog| %>
		      <tr>
		        <td><%= blog.title %></td>
		        <td><%= "body" %></td>
		        <td>0</td>
		        <td>zero</td>
		        <td><%= link_to 'Show', blog %></td>
		        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
		        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
		<%else%>
			<tr>
				<td colspan="4">no blogs</td>
				<td colspan="3"><%= link_to 'Add New Blog', new_blog_path %></td>
			</tr>
		<% end %>
	  </tbody>
	</table>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3><a href="blogs/index.html">My Unasnwered Questions</a></h3>
	</div>
	<table id="tableMyA" class="table table-stripped">
	  <thead>
	    <tr>
	      <th>Question</th>
	      <th>Time Elapsed</th>
	      <th>Action</th>
	      <th colspan="3">options</th>
	    </tr>
	  </thead>

	  <tbody>
		<% if @myUnasnweredQuestions.count > 0 %>
			<% @myUnasnweredQuestions.each do |question| %>
				<tr>
					<td><%= question.question %></td>
					<td><%= question.created_at %></td>
					<td><a id="<%=question%>" href="#answerQuestion" data-toggle="modal">answer</a></td>
					<td><%= link_to 'Show', question, class: 'btn btn-mini' %></td>
					<td><%= link_to 'Edit', edit_faq_path(question), class: 'btn btn-mini btn-success' %></td>
					<td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-mini btn-danger' %></td>
				</tr>
			<% end %>
		<%else%>
			<tr>
				<td colspan="7">all questions answered</td>
			</tr>
		<% end %>
	  </tbody>
	</table>
</div>

<div class="modal fade" id="answerQuestion" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Answer Question</h4>
			</div>
			<div class="modal-body">
				<h5>Question:</h5>
					<p><%= %></p>
				<h5>Enter Answer:</h5>
				  <div class="input-group col-lg-3">
				  	<ipnut type="text" class="form-control" placeholder="answer here">
				  </div>
			</div>
			<div class="modal-footer">
				<a class="btn btn" data-dismiss="modal">cancel</a>
				<a class="btn btn-primary" data-dismiss="modal">save</a>
			</div>
		</div>
	</div>
</div>
