<!DOCTYPE html>
<html>
	<head>
	  <title>BenHough</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="container">
			<ul class="nav nav-tabs">
				<li class=button style="background-image: url(RES/navIcon-home.png);"><a href="/">Home</a></li>
				<li class=button style="background-image: url(RES/navIcon-users.png);"><%= link_to 'Blogs', blogs_path %></li>
				<li class=button style="background-image: url(RES/navIcon-search.png);"><%= link_to 'FAQs', faqs_path %></li>
			</ul>
			
			<%= yield %>

		</div>

	</body>
</html>
